*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

#game {
  position: absolute;
  box-sizing: content-box;
  width: 768px;
  height: 768px;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
  margin-top: -384px;
  margin-left: -384px;
}

#map {
  position: relative;
  z-index: 0;
}

.row {
  overflow: auto;
}

.cell {
  width: 16px;
  height: 16px;
  border: 1px solid #f8f8f8;
  float: left;
}

.player {
  position: absolute;
  z-index: 1;
}
