*, *:before, *:after {
  box-sizing: border-box;
}

#map {
  box-sizing: content-box;
  width: 768px;
  height: 768px;
  margin: auto;
  border: 1px solid #ccc;
}

.row {
  overflow: auto;
}

.cell {
  width: 16px;
  height: 16px;
  border: 1px solid #f8f8f8;
  float: left;
}
