*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #game {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

#map {
  z-index: 0;
  position: absolute;
  box-sizing: content-box;
  background: #555;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
}

#players {
    z-index: 1;
}

#monsters {
    z-index: 1;
}

.player {
  position: absolute;
  width: 16px;
  height: 24px;
  background-color: blue;
}

.monster {
 position: absolute;
 width: 16px;
 height: 24px;
 background-color: green;
}

.missile {
 position: absolute;
 width: 16px;
 height: 24px;
 background-color: red;
}